@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    color: white !important;
    background-color: rgb(40, 40, 40) !important;
    font-family: 'Nunito', sans-serif;
}
